@import 'reset';
@import "./common/fonts.scss";
@import "./common/mixins";
@import "./common/variables";
@import "./components/HeaderLight";
@import "./components/contact/FormInput";
@import "./components/contact/FormTextarea";
@import "./components/contact/Form";
@import "./components/Footer";

.contact {


  &__HeaderWrapper {
    max-width: 1440px;
    padding: 3.47% 60px 0 60px;
    margin: auto;
  }

  &__WrapperForm {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 80px 173px;
  }

  &__Contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 153px;
    flex-grow: 1;
  }

  &__address{
    @include textIntroduction;
    color:$MainRegular;
    margin-bottom:20px;
  }

  &__LinkWrapper {
  }

  &__LinkWrapper::before {
    content: "";
    display: block;
    background-color:$GreySeparator;
    width: 100%;
    height: 4px;
    margin-bottom: 40px;
  }

  &__LinkWrapper::after {
    content: "";
    display: block;
    background-color:$GreySeparator;
    width: 100%;
    height: 4px;
    margin-top: 40px;
  }

  &__tell {
    @include textIntroduction;
    color:$MainAlt;
    margin-bottom: 20px;
  }

  &__email {
    @include textIntroduction;
    color:$ActiveRegular;
  }

  &__soc {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__soc span {
    display: inline-block;
    margin-left: 10px;
    font-family: "TT Norms", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color:$ActiveRegular;
  }

  &__Form {
    width: 527px;
  }

  &__Map {
    width:100%;
    height:600px;
  }

  &__Footer {
    background-color: $GreyBg;
  }

  &__FooterWrapper {
    max-width: 1440px;
    margin: auto;
    padding: 0 60px;
  }

  &__FooterWrapper .footer {
    border: none;
  }
}
.header__menuPItem:nth-child(5) {
  color: $Accent;
  text-decoration: underline;
}
