@import 'reset';
@import "./common/fonts.scss";
@import "./common/mixins";
@import "./common/variables";
@import "./components/Publications";
@import "./components/HeaderLight";
@import "./components/Footer";

.post {

  &__HeaderWrapper {
    max-width: 1440px;
    padding: 3.47% 60px 0 60px;
    margin: auto;
  }

  &__Wrapper {
    max-width: 1440px;
    padding: 60px 267px;
    margin: auto;
  }

  &__Heading h1 {
    @include textH2;
    color: $MainRegular;
    margin: 40px 20px 10px 20px;
  }

  &__Heading span {
    display: inline-block;
    @include textDate;
    color: $GreyText;
    margin: 0 0 40px 20px;
  }

  &__MainePost p {
    margin: 0 20px;
    @include textParagraph;
    color: #000;
  }

  &__MainePost h2 {
    @include textHero;
    @include GradientRedText;
    margin-top: 40px;
  }

  &__MainePost h3 {
    @include textH3;
    color:$MainAlt;
    margin: 40px 20px 25px 20px;
  }

  &__MainePost img {
    margin: 40px 20px;
  }

  &__MainePost ul {
    list-style: decimal;
    margin: 0 20px 25px 60px;
    @include textParagraph;
    color: #000;
  }

  &__MainePost li {
    padding-left: 10px;
  }

  &__MainePost li::marker {
    color:$Accent;
    font-weight: bold;
    margin-right: 10px;
  }

  &__MainePost::before {
    content: "";
    display: block;
    margin: 0 20px 40px 20px;
    height: 4px;
    width: 100%;
    background-color: $GreyBgAlt;
  }
  &__MainePost::after {
    content: "";
    display: block;
    margin: 40px 20px 0 20px;
    height: 4px;
    width: 100%;
    background-color: $GreyBgAlt;
  }

  &__Epilogue {
    margin: 20px 20px 0 20px;
  }

  &__Epilogue a {
    display: inline-block;
    margin-right:10px;
  }

  &__Publications {
    background-color: $GreyBg;
  }

  &__PublicationsWrapper {
    max-width: 1440px;
    margin: auto;
    padding: 40px 60px 0 60px;
  }

  &__Footer {
    background-color: $GreyBg;
  }

  &__FooterWrapper {
    max-width: 1440px;
    margin: auto;
    padding: 0 60px;
  }

}

.header__menuPItem:nth-child(4) {
  color: $Accent;
  text-decoration: underline;
}
