@import 'reset';
@import "./common/fonts.scss";
@import "components/HeaderLight";
@import "components/teamItem";
@import "components/Footer";


.team {

  &__HeaderWrapper {
    max-width: 1440px;
    padding: 3.47% 60px 0 60px;
    margin: auto;
  }

  &__Wrapper {
    max-width: 1440px;
    margin: auto;
  }

  &__title {
    margin: 80px 310px;
    @include textHero;
    @include GradientRedText;
    text-align: left;
  }

  &__ItemWrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 40px;
    margin: 0 60px 60px 60px;
  }

  &__Footer {
    background-color: $GreyBg;
  }

  &__FooterWrapper {
    max-width: 1440px;
    margin: auto;
    padding: 0 60px;
  }

  &__FooterWrapper .footer {
    border: none;
  }
}