<section class="header">
    <div class="header__logo">
        <img alt="Logo" src=@@srcLogo>
    </div>
    <div class="header__wrapper">
        <div class="header__wrapperLanguage">
            <div class="header__language">
                <ol>
                    <li>УК</li>
                    <li>РУ</li>
                    <li>EN</li>
                </ol>
            </div>
            <div class="header__contact">
                <ol>
                    <li>Одеса, Адміральський пр., 3</li>
                    <li>+38 (050) 390 15 91</li>
                    <li><a href="#"><img src="./icons/header/Facebook.svg"></a></li>
                </ol>
            </div>
        </div>
        <div class="header__menu">
            <ol>
                <li>о нас</li>
                <li>послуги</li>
                <li>команда</li>
                <li>публікації</li>
                <li>контакти</li>
            </ol>
        </div>
    </div>
</section>