<section class="header">
    <div class="header__logo">
        <a href="./index.html"><img class="header__logoImg" alt="Logo" src="@@srcLogo"></a>
        <span class="header__logoTitle">@@headerlogoTitle</span>
        <img class="header__logoSmall" src="@@srcLogoSlash">
        <a href="#" class="header__hamburger"><img onclick="return toggleMeTu('content1', this)" aria-expanded="false"  src="./icons/header/Hamburger.svg"></a>
        <div id="content1" class="header__mobMenu">
            <div class="header__mobMenuLogo">
                <a href="./index.html"><img  src="./icons/header/SymbolSlash.svg"></a>
                <span onclick="return toggleMe('content1', this)" aria-expanded="false">&#215;</span>
            </div>
            <div class="header__mobMenuWrapper">
                    <a class="header__menuPItemMob" href="./about_us.html">
                        <p>о нас</p>
                    </a>
                    <a class="header__menuPItemMob" href="./services.html">
                        <p>послуги</p>
                    </a>
                    <a class="header__menuPItemMob" href="./team.html">
                        <p>команда</p>
                    </a>
                    <a class="header__menuPItemMob" href="./blog.html">
                        <p>публікації</p>
                    </a>
                    <a class="header__menuPItemMob" href="./contact.html">
                        <p>контакти</p>
                    </a>
            </div>
        </div>
    </div>
    <div class="header__wrapper">
        <div class="header__wrapperLanguage">
            <div class="header__language">
                <span>УК</span>
                <span>РУ</span>
                <span>EN</span>
            </div>
            <div class="header__contact">
                <a class="header__address" href="#"><span>Одеса, Адміральський пр., 3</span></a>
                <a class="header__tel" href="#"><span>+38 (050) 390 15 91</span></a>
                <a class="header__soc" href="#"><img src="@@headerSoc"></a>
            </div>
        </div>
        <div class="header__menu">
            <ol>
                <a class="header__menuPItem" href="./about_us.html">
                    <li>о нас</li>
                </a>
                <a class="header__menuPItem" href="./services.html">
                    <li>послуги</li>
                </a>
                <a class="header__menuPItem" href="./team.html">
                    <li>команда</li>
                </a>
                <a class="header__menuPItem" href="./blog.html">
                    <li>публікації</li>
                </a>
                <a class="header__menuPItem" href="./contact.html">
                    <li>контакти</li>
                </a>
            </ol>
        </div>
    </div>
    <script src="./js/menu.js"></script>
</section>