<section class="header">
    <div class="header__logo">
        <img alt="Logo" src=@@srcLogo>
    </div>
    <div class="header__wrapper">
        <div class="header__wrapperLanguage">
            <div class="header__language">
                    <span>УК</span>
                    <span>РУ</span>
                    <span>EN</span>
            </div>
            <div class="header__contact">
                    <p>Одеса, Адміральський пр., 3</p>
                    <p>+38 (050) 390 15 91</p>
                    <a href="#"><img src="./icons/header/Facebook.svg"></a>
            </div>
        </div>
        <div class="header__menu">
            <ol>
                <li>о нас</li>
                <li>послуги</li>
                <li>команда</li>
                <li>публікації</li>
                <li>контакти</li>
            </ol>
        </div>
    </div>
</section>