<section class="header">
    <div class="header__logo">
        <a href="./index.html"><img alt="Logo" src="@@srcLogo"></a>
        <span class="header__logoTitle">@@headerlogoTitle</span>
        <img src="@@srcLogoSlash">
        <img class="header__hamburger" src="./icons/header/Hamburger.svg">
    </div>
    <div class="header__wrapper">
        <div class="header__wrapperLanguage">
            <div class="header__language">
                <span>УК</span>
                <span>РУ</span>
                <span>EN</span>
            </div>
            <div class="header__contact">
                <a class="header__address" href="#"><span>Одеса, Адміральський пр., 3</span></a>
                <a class="header__tel" href="#"><span>+38 (050) 390 15 91</span></a>
                <a class="header__soc" href="#"><img src="@@headerSoc"></a>
            </div>
        </div>
        <div class="header__menu">
            <ol>
                <a class="header__menuPItem" href="./about_us.html">
                    <li>о нас</li>
                </a>
                <a class="header__menuPItem" href="./services.html">
                    <li>послуги</li>
                </a>
                <a class="header__menuPItem" href="./team.html">
                    <li>команда</li>
                </a>
                <a class="header__menuPItem" href="./blog.html">
                    <li>публікації</li>
                </a>
                <a class="header__menuPItem" href="./contact.html">
                    <li>контакти</li>
                </a>
            </ol>
        </div>
    </div>
</section>