@import "../../common/mixins";
@import "../../common/variables";

.achievments {

  &__title {
  @include textH3Caps;
    color: $MainRegular;
    text-align: center;
    margin-bottom: 30px;
  }

  &__itemWrapper {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }

  &__item {
  padding: 25px 0 ;
    background-color: $White;
    border-radius: 12px;
    text-align: center;
  }

  &__pointWrapper {
    text-align: center;
    cursor: default;
  }
  &__pointWrapper span{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: $ActiveRegular;
    opacity: 0.2;
    border-radius: 100%;
    cursor: pointer;
  }
  &__pointWrapper span:nth-child(2){
    margin: 0 14px;
  }
  &__pointWrapper span:nth-child(1){
    opacity: 1;
  }
  &__pointWrapper span:hover{
    opacity: 1;
  }

}
