@import "../common/mixins";
@import "../common/variables";

.clients {
  &__title {
    @include textH3Caps;
    color: $MainRegular;
    margin-bottom: 30px;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    flex: 1 0 360px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item:nth-child(1) {
    background-color: #1C4280;
  }
  &__item:nth-child(2) {
    background-color: #143646;
  }
  &__item:nth-child(3) {
    background-color: #F48B30;
  }
  &__item:nth-child(4) {
    background-color: #9E4DC3;
  }
  &__item:nth-child(5) {
    background-color: #FD9339;
  }
  &__item:nth-child(6) {
    background-color: #E2E2E4;
  }
  &__item:nth-child(7) {
    background-color: #C71C36;
  }
  &__item:nth-child(8) {
    background-color: #DCF3F9;
  }
  &__item:nth-child(9) {
    background-color: #EAEAEA;
  }
  &__item:nth-child(10) {
    background-color: #282240;
  }
  &__item:nth-child(11) {
    background-color: #1D4568;
  }
  &__item:nth-child(12) {
    background-color: #000;
  }
}