@import "../common/mixins";
@import "../common/variables";

.servicesItem {
  max-width: 413px;
  display: inline-block;

  &__title {
    margin-top: 20px;
    @include textH3;
    color: $ActiveRegular;
  }

  &__text {
    margin-top: 15px;
    @include textParagraph;
    color: #fff;
  }
}


@media (max-width: 375px) {
  .servicesItem {
    & img {
      max-width: 64px;
    }
    &__hedWrapper {
      display: flex;
      align-items: center;
    }

    &__title {
      display: inline-block;
      margin-top: 0;
      @include textH3MOBILE;
      color: $ActiveRegular;
      margin-left: 10px;
    }

    &__text {
      margin-top: 10px;
      @include textParagraphMin;
    }
  }
}