@import "../common/mixins";
@import "../common/variables";
@import "servicesItem";

.services {
  &__link {
    @include textH3Caps;
    color: #fff;
    opacity: 0.5;
    display: flex;
  }

  &__link img {
    display: inline-block;
    margin-left: 5px;
  }

  &__title {
    @include textHero;
    @include GradientRedText;
    margin-bottom: 68px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 40px;
    row-gap: 58px;
  }
}



