@import "../common/mixins";
@import "../common/variables";

.teamItem {
  max-width: 413px;

  &__photo {
    width: 100%;
  }

  &__wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    @include textH4;
    color: $MainRegular;
    margin-bottom: 5px;
  }

  &__work {
    @include textParagraphMin;
    color: $GreyText;
  }
}
