.banner {
  background: url("../icons/SymbolLongleg.svg") no-repeat center/contain;
  margin-top: 12.84%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: "TT Norms", sans-serif;
    font-size: 38px;
    line-height: 45px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    max-width: 500px;
    margin:4.02% auto 20.13% auto;
  }

  &__logo {
    position: absolute;
    text-align: center;
    bottom: 0;
  }
  &__logo img {
    vertical-align: bottom;
  max-width: 100%;
  }

  &__button {
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    z-index: 2;
    position: relative;
    display: inline-block;
  }
  &__button:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition-duration: 1.3s;
  }
}

