<section class="cases">
    <div class="cases__wrapper">
        <h4 class="cases__item">Успішні кейси</h4>
        <div class="cases__item">
            <p class="cases__itemTitle">Супровід проекту з купівлі-продажу сільськогосподарської продукції</p>
            <p class="cases__itemCompany">Hillel IT School</p>
        </div>
        <div class="cases__item">
            <p class="cases__itemTitle">Підготовка комплексного юридичного висновку для європейського банку</p>
            <p class="cases__itemCompany">WannaBiz</p>
        </div>
        <div class="cases__item">
            <p class="cases__itemTitle">Супровід проекту з купівлі-продажу сільськогосподарської продукції</p>
            <p class="cases__itemCompany">tapgerine</p>
        </div>
        <div class="cases__item">
            <p class="cases__itemTitle">Представництво інтересів великого зернотрейдера в податковому спорі</p>
            <p class="cases__itemCompany">3D LOOK</p>
        </div>
        <div class="cases__item">
            <p class="cases__itemTitle">Оскарження податкових повідомлень-рішень ДФС</p>
            <p class="cases__itemCompany">adtelligent</p>
        </div>
        <div class="cases__item">
            <p class="cases__itemTitle">Супровід проекту з кредитування агротрейдерів мальтійським банком</p>
            <p class="cases__itemCompany">Clikky</p>
        </div>
    </div>
</section>