<section class="clients">
    <h4 class="clients__title">Вже довіряють нам</h4>
    <div class="clients__wrapper">
    <div class="clients__item">
        <img alt="clientsLogo" class="clients__logo" src="@@clientsLogo">
    </div>
    <div class="clients__item">
        <img alt="clientsLogo" class="clients__logo" src="@@clientsLogo1">
    </div>
    <div class="clients__item">
        <img alt="clientsLogo" class="clients__logo" src="@@clientsLogo2">
    </div>
    <div class="clients__item">
        <img alt="clientsLogo" class="clients__logo" src="@@clientsLogo3">
    </div>
    <div class="clients__item">
        <img alt="clientsLogo" class="clients__logo" src="@@clientsLogo4">
    </div>
    <div class="clients__item">
        <img alt="clientsLogo" class="clients__logo" src="@@clientsLogo5">
    </div>
    <div class="clients__item">
        <img alt="clientsLogo" class="clients__logo" src="@@clientsLogo6">
    </div>
    <div class="clients__item">
        <img alt="clientsLogo" class="clients__logo" src="@@clientsLogo7">
    </div>
    <div class="clients__item">
        <img alt="clientsLogo" class="clients__logo" src="@@clientsLogo8">
    </div>
    <div class="clients__item">
        <img alt="clientsLogo" class="clients__logo" src="@@clientsLogo9">
    </div>
    <div class="clients__item">
        <img alt="clientsLogo" class="clients__logo" src="@@clientsLogo10">
    </div>
    <div class="clients__item">
        <img alt="clientsLogo" class="clients__logo" src="@@clientsLogo11">
    </div>
    </div>
</section>