<section class="footer">
    <div class="footer__contact">
        <div class="footer__addressWrapper">
            <p class="footer__address">@@footerAddress</p>
            <p class="footer__map"><a href="./contact.html">@@footerMap</a></p>
        </div>
        <div class="footer__contactsWrapper">
            <a href="#" class="footer__socFacebook"><img src="@@footerSocFacebook"></a>
            <p class="footer__tell"><a href="#">@@footerTell</a></p>
            <p class="footer__mail"><a href="#">@@footerMail</a></p>
        </div>
    </div>
    <div class="footer__cooperate">
        <p>@@footerCooperate</p>
    </div>
</section>