<section class="publications">
    <a class="publications__link" href="@@publicationsMenuLink">@@servicesMenu <img src="@@publicationsMenuIcon"></a>
    <h2 class="publications__title">@@serviceTitle</h2>
    <div class="publications__wrapper">

        @@include('../components/publictations/Publictation.html',{
        'publictationImg': "",
        'publictationTitle':"Валютний контроль помер, хай живе валютний контроль!",
        'publictationDate':"14 червня",
        'publictationShortdisc':"Експерти проводять конференції, круглі столи та іншого штибу заходи на тему «лібералізація валютного законодавства». Юристи-експерти-новелісти стирають пальці об «ctrl+c/ctrl+v».",
        })

        @@include('../components/publictations/Publictation.html',{
        'publictationImg': "./icons/publictations/imagePublications.jpg",
        'publictationTitle':"Equity associate",
        'publictationDate':"22 квітня",
        'publictationShortdisc':"На проектах я джун. При цьому я співвласник юридичної фірми. Як це відбулося. Перед вступом батьки мені казали, що якщо буду…",
        })

        @@include('../components/publictations/Publictation.html',{
        'publictationImg': "./icons/publictations/imagePublications1.jpg",
        'publictationTitle':"Заповіт міленіала",
        'publictationDate':"19 серпня",
        'publictationShortdisc':"Що і як передаватимуть у спадщину сучасні влогери, опініон лідери і криптомільйонери Типовий спадок українського покоління Х виглядає так: квартира у…",
        })

        @@include('../components/publictations/Publictation.html',{
        'publictationImg': "./icons/publictations/imagePublications2.jpg",
        'publictationTitle':"Закон про мови: як зробити свій сайт відповідним",
        'publictationDate':"19 серпня",
        'publictationShortdisc':"Наталія Кирик, керівник контент студії Wordfactory.ua По-перше, це красиво! Це аргумент номер один на користь україномовного сайту. По-друге, це ефективно. У…",
        })

        @@include('../components/publictations/Publictation.html',{
        'publictationImg': "./icons/publictations/imagePublications3.jpg",
        'publictationTitle':"Компенсація витрат на навчання дитини в дитячому садку та школі",
        'publictationDate':"5 Лютого 2018",
        'publictationShortdisc':"Про що йде мова В червні цього року Верховна Рада внесла зміни до Податкового кодексу України. Відтепер батьки, які отримують офіційну…",
        })

        @@include('../components/publictations/Publictation.html',{
        'publictationImg': "./icons/publictations/imagePublications4.jpg",
        'publictationTitle':"Штраф для «Корпорації добра»: що буде з Google та іншими за порушення GDPR",
        'publictationDate':"29 вересня",
        'publictationShortdisc':"І чому стягнення у 50 млн євро може стати доленосним прецедентом За матеріалами Mind.ua 21 січня Національна комісія із захисту даних.",
        })
    </div>
    <div class="publications__seeMore"><a href="./blog.html">Ще публікації</a></div>
</section>