<section>
    @@include('./servicesItem/servicesItem.html', {
    'servicesItemIcon': "./icons/servicesItem/Icon.svg",
    'servicesItemTitle': "IT та електронна комерція",
    'servicesItemText': "Нескінчений потік договорів, податкові питання, трудові відносини, корпоративні папери —     юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста. "
    })

    @@include('./servicesItem/servicesItem.html', {
    'servicesItemIcon': "./icons/servicesItem/Icon.svg",
    'servicesItemTitle': "IT та електронна комерція",
    'servicesItemText': "Нескінчений потік договорів, податкові питання, трудові відносини, корпоративні папери —     юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста. "
    })

    @@include('./servicesItem/servicesItem.html', {
    'servicesItemIcon': "./icons/servicesItem/Icon.svg",
    'servicesItemTitle': "IT та електронна комерція",
    'servicesItemText': "Нескінчений потік договорів, податкові питання, трудові відносини, корпоративні папери —     юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста. "
    })

    @@include('./servicesItem/servicesItem.html', {
    'servicesItemIcon': "./icons/servicesItem/Icon.svg",
    'servicesItemTitle': "IT та електронна комерція",
    'servicesItemText': "Нескінчений потік договорів, податкові питання, трудові відносини, корпоративні папери —     юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста. "
    })

    @@include('./servicesItem/servicesItem.html', {
    'servicesItemIcon': "./icons/servicesItem/Icon.svg",
    'servicesItemTitle': "IT та електронна комерція",
    'servicesItemText': "Нескінчений потік договорів, податкові питання, трудові відносини, корпоративні папери —     юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста. "
    })

    @@include('./servicesItem/servicesItem.html', {
    'servicesItemIcon': "./icons/servicesItem/Icon.svg",
    'servicesItemTitle': "IT та електронна комерція",
    'servicesItemText': "Нескінчений потік договорів, податкові питання, трудові відносини, корпоративні папери —     юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста. "
    })
</section>