<section class="services">
    <a class="services__link" href="@@servicesMenuLink">@@servicesMenu <img src="@@servicesMenuIcon"></a>
    <h2 class="services__title">@@serviceTitle</h2>
    <div class="services__wrapper">
    @@include('./servicesItem/servicesItem.html', {
    'servicesItemLink': "#",
    'servicesItemIcon': "./icons/servicesItem/Icon.svg",
    'servicesItemTitle': "IT та електронна комерція",
    'servicesItemText': "Нескінчений потік договорів, податкові питання, трудові відносини, корпоративні папери —     юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста. "
    })

    @@include('./servicesItem/servicesItem.html', {
    'servicesItemLink': "#",
    'servicesItemIcon': "./icons/servicesItem/Icon2.svg",
    'servicesItemTitle': "Комплексний щоденний юридичний супровід",
    'servicesItemText': "До того ж, з часом робота стане однотипною і нецікавою для штатного юриста. А ще ми добре знаємо, як важко в Україні знайти хорошого кандидата з досвідом у сфері інформаційних технологій."
    })

    @@include('./servicesItem/servicesItem.html', {
    'servicesItemLink': "#",
    'servicesItemIcon': "./icons/servicesItem/Icon3.svg",
    'servicesItemTitle': "Структуризація корпоративних відносин",
    'servicesItemText': "Замість просто надавати юридичні послуги, ми закріпимо юриста або цілу команду, які впишуться в повсякденне життя вашої компанії. "
    })

    @@include('./servicesItem/servicesItem.html', {
    'servicesItemLink': "#",
    'servicesItemIcon': "./icons/servicesItem/Icon4.svg",
    'servicesItemTitle': "Побудовa договірних відносин",
    'servicesItemText': "Раз на тиждень, чи тиждень на місяць у вас під боком є ваш власний юрист. Будь-хто в компанії може впіймати його біля кавоварки і просто поговорити про поточні справи замість очікування статусу update. "
    })

    @@include('./servicesItem/servicesItem.html', {
    'servicesItemLink': "#",
    'servicesItemIcon': "./icons/servicesItem/Icon5.svg",
    'servicesItemTitle': "Захист бізнесу, інтелектуальної власності",
    'servicesItemText': "А весь інший час він працюватиме над новими різноплановими проектами, тому вже точно не зупиниться в професійному розвитку. Так чи інакше, на вас працюватиме весь Axon Partners замість корпоративного юриста. "
    })

    @@include('./servicesItem/servicesItem.html', {
    'servicesItemLink': "#",
    'servicesItemIcon': "./icons/servicesItem/Icon6.svg",
    'servicesItemTitle': "Судове представництво",
    'servicesItemText': "Невелика компанія, середнього розміру, чи вже лідер ринку? Локальний бізнес або транснаціональна компанія? Маєте власний юридичний відділ, чи ні? "
    })
    </div>
</section>