@import "../../common/mixins";
@import "../../common/variables";

.form {

  background-color:$GreyBg;
  border-radius: 12px;
  padding: 20px;

  &__title {
    @include textHeroMOBILE;
    @include GradientRedText;
    margin-bottom: 20px;
  }

  &__input {
    margin-bottom: 20px;
  }

  &__textarea {
    margin-bottom: 20px;
  }

  &__subtitle {
    @include textH3Caps;
    color:$GreyText;
    margin-bottom: 10px;
  }

  &__buttonWrapper {
    text-align: center;
  }

  &__button{
    display: inline-block;
    @include textButton;
    color: #fff;
    padding: 16px 0;
    background-color: $ActiveRegular;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
    width: 250px;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .form {
    border-radius: 0;

    &__title {
      @include textH2MOBILE;
    }

    &__subtitle {
      margin-bottom: 20px;
    }
  }

}
