@import "../../common/mixins";
@import "../../common/variables";

.formInput {
  background: #FFFFFF;
  border-radius: 8px;
  color:$GreyText;
  height: 47px;
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  @include textParagraph;
}

.formInput::placeholder {
  color:$GreyText;
  @include textParagraph;
}

