/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: none; }

@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Bold.ttf") format("ttf"), url("../fonts/TTNorms-Bold.woff") format("woff");
  src: url("../fonts/TTNorms-Medium.ttf") format("ttf"), url("../fonts/TTNorms-Medium.woff") format("woff");
  src: url("../fonts/TTNorms-Regular.ttf") format("ttf"), url("../fonts/TTNorms-Regular.woff") format("woff"); }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .header__hamburger {
    display: none; }
  .header__mobMenu {
    display: none; }
  .header__logoTitle {
    font-family: "TT Norms", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 45px;
    color: #323264; }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .header__wrapperLanguage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "TT Norms", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #B3B3BA;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__language span {
    margin-left: 10px;
    cursor: pointer;
    padding: 5px; }
  .header__language span:hover {
    background-color: #F0145A;
    border-radius: 8px; }
  .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__contact .header__tel, .header__soc, .header__address {
    margin-left: 20px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__tel:hover, .header__address:hover {
    color: #F0145A; }
  .header__contact .header__tel::before, .header__soc::before, .header__address::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #E6E6F0;
    position: relative;
    margin-right: 10px; }
  .header__menu {
    font-family: "TT Norms", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #24A3FF;
    cursor: pointer; }
  .header__menuPItem {
    display: inline-block;
    margin-left: 15px; }
  .header__menu li:hover {
    color: #F0145A; }

@media (max-width: 375px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .header__logo {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .header__mobMenu {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      z-index: 999; }
    .header__mobMenuLogo {
      position: relative;
      padding: 16px 0 14px 0;
      text-align: center; }
    .header__mobMenuLogo span {
      position: absolute;
      top: 10px;
      right: 12px;
      font-size: 36px;
      color: #EC6F5D; }
    .header__mobMenuLogo img {
      width: 32px;
      height: 32px; }
    .header__menuPItemMob {
      font-family: "TT Norms", sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: #24A3FF;
      display: block;
      text-align: center;
      margin-bottom: 1px;
      padding: 15px 0;
      background-color: #F5F5FA;
      font-weight: 700; }
    .header__menuPItemMob:hover {
      color: #F0145A; }
    .header__logoImg {
      max-width: 78px;
      margin-top: 20px; }
    .header__hamburger {
      display: inline-block;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      text-align: right;
      margin-top: 10px; }
    .header__logoTitle {
      margin-top: 5px;
      font-family: "TT Norms", sans-serif;
      font-weight: 400;
      font-size: 19px;
      line-height: 22px; }
    .header__logoSmall {
      margin-top: 15px;
      max-width: 21px; }
    .header__wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
    .header__wrapperLanguage {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .header__language span {
      margin-left: 0; }
    .header__contact {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
    .header__soc, .header__address {
      display: none; }
    .header__contact .header__tel::before, .header__soc::before, .header__address::before {
      content: none; }
    .header__menu {
      display: none; } }

.advantages {
  margin: 0 172px; }
  .advantages__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .advantages__introduction {
    max-width: 641px;
    margin-right: 42px; }
  .advantages__title {
    font-family: "TT Norms", sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #F0145A;
    margin-bottom: 20px; }
  .advantages__descriptions {
    font-family: "TT Norms", sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: #000; }
  .advantages__item:nth-child(1), .advantages__item:nth-child(2) {
    padding-bottom: 40px; }
  .advantages__item {
    padding-left: 20px;
    border-left: 4px solid #E6E6F0; }
  .advantages__iconwrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .advantages__item span {
    font-family: "TT Norms", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #F0145A; }
  .advantages__item p {
    margin-top: 5px;
    font-family: "TT Norms", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #323264; }

@media (max-width: 375px) {
  .advantages {
    margin: 20px; }
    .advantages__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .advantages__introduction {
      margin-right: 0;
      margin-bottom: 20px; }
    .advantages__title {
      font-family: "TT Norms", sans-serif;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 20px; }
    .advantages__descriptions {
      font-family: "TT Norms", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px; }
    .advantages__advantagwrap {
      padding-top: 15px;
      border-top: 2px solid #E6E6F0; }
    .advantages__item:nth-child(1), .advantages__item:nth-child(2) {
      padding-bottom: 20px; }
    .advantages__item {
      padding-left: 0;
      border-left: none; } }

.moredescription__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.moredescription__text {
  font-family: "TT Norms", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #000;
  margin-right: 40px;
  max-width: 641px; }

.moredescription__title {
  font-family: "TT Norms", sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F0145A; }

@media (max-width: 375px) {
  .moredescription__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .moredescription__text {
    font-family: "TT Norms", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-right: 0; }
  .moredescription__title {
    font-family: "TT Norms", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    margin-top: 20px; } }

.achievments__title {
  font-family: "TT Norms", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  text-align: center;
  margin-bottom: 30px; }

.achievments__itemWrapper {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px; }

.achievments__item {
  padding: 25px 0;
  background-color: #fff;
  border-radius: 12px;
  text-align: center; }

.achievments span:nth-child(n+4) {
  display: none; }

.achievments__pointWrapper {
  text-align: center; }

.achievments__pointWrapper span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #24A3FF;
  opacity: 0.2;
  border-radius: 100%;
  cursor: pointer; }

.achievments__pointWrapper span:nth-child(2) {
  margin: 0 14px; }

.achievments__pointWrapper span:nth-child(1) {
  opacity: 1; }

.achievments__pointWrapper span:hover {
  opacity: 1; }

@media (max-width: 375px) {
  .achievments__itemWrapper {
    margin-bottom: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; }
  .achievments__item {
    padding: 13px 0; }
  .achievments__item img {
    max-height: 31px; }
  .achievments__item:nth-child(n+3) {
    display: none; }
  .achievments span:nth-child(n+4) {
    display: inline-block; }
  .achievments__pointWrapper {
    text-align: center;
    cursor: default; }
  .achievments__pointWrapper span {
    margin: 0 14px 0 0; }
  .achievments__pointWrapper span:nth-child(2) {
    margin: 0 14px 0 0; }
  .achievments__pointWrapper span:nth-last-child {
    margin: 0; }
  .achievments__pointWrapper span:nth-child(1) {
    opacity: 1; }
  .achievments__pointWrapper span:hover {
    opacity: 1; }
  .achievments__pointWrapper span:active {
    opacity: 1; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 4px solid #E6E6F0;
  padding: 32px 0 40px 0; }
  .footer__addressWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 22px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__address {
    font-family: "TT Norms", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #323264;
    margin-right: 37px; }
  .footer__map {
    font-family: "TT Norms", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF; }
  .footer__map::before {
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    margin-bottom: 1px;
    margin-right: 10px;
    background-color: #B3B3BA; }
  .footer__contactsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__tell {
    font-family: "TT Norms", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #46466E;
    margin: 0 16px 0 18px; }
  .footer__tell::before {
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    margin-bottom: 1px;
    margin-right: 5px;
    background-color: #B3B3BA; }
  .footer__mail:hover, .footer__tell:hover, .footer__map:hover {
    color: #F0145A; }
  .footer__mail {
    font-family: "TT Norms", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #24A3FF; }
  .footer__mail::before {
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    margin-bottom: 1px;
    margin-right: 10px;
    background-color: #B3B3BA; }
  .footer__cooperate {
    font-family: "TT Norms", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #B3B3BA; }

@media (max-width: 375px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 0 0 0; }
    .footer__contact {
      margin-bottom: 20px; }
    .footer__addressWrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 20px; }
    .footer__address {
      font-weight: bold;
      margin-right: 0;
      margin-bottom: 10px; }
    .footer__map::before {
      content: none; }
    .footer__contactsWrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .footer__tell {
      margin: 20px  0; }
    .footer__tell::before {
      content: none; }
    .footer__mail::before {
      content: none; }
    .footer__cooperate {
      margin: 0 20px;
      text-align: center; } }

.aboutUs__HeaderWrapper {
  max-width: 1440px;
  padding: 3.47% 60px 0 60px;
  margin: auto; }

.aboutUs__Advantages {
  max-width: 1440px;
  margin: 80px auto 100px auto; }

.aboutUs__Team {
  max-width: 1440px;
  margin: auto;
  background: url("../icons/advantages/Team.jpg");
  padding: 163px 268px; }

.aboutUs__TeamTitle {
  font-family: "TT Norms", sans-serif;
  font-size: 96px;
  line-height: 113px;
  text-align: center;
  letter-spacing: 63px;
  text-transform: uppercase;
  opacity: 0.8;
  text-shadow: 0 15px 30px rgba(40, 40, 86, 0.8);
  color: #fff; }

.aboutUs__MoreDescription {
  max-width: 1440px;
  margin: 80px auto 93px auto;
  padding: 0 172px; }

.aboutUs__Achievments {
  background-color: #F5F5FA; }

.aboutUs__AchievmentsWrapper {
  max-width: 1440px;
  margin: auto;
  padding: 30px 60px; }

.aboutUs__Footer {
  background-color: #F5F5FA; }

.aboutUs__FooterWrapper {
  max-width: 1440px;
  margin: auto;
  padding: 0 60px; }

.header__menuPItem:nth-child(1) {
  color: #F0145A;
  text-decoration: underline; }

@media (max-width: 375px) {
  .aboutUs__HeaderWrapper {
    padding: 20px 20px 0 20px; }
  .aboutUs__Advantages {
    margin: 0; }
  .aboutUs__Team {
    background: url("../icons/advantages/Team.jpg") center;
    padding: 124px 30px; }
  .aboutUs__TeamTitle {
    font-family: "TT Norms", sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 20px;
    text-transform: uppercase;
    opacity: 0.8;
    text-shadow: 0 15px 30px rgba(40, 40, 86, 0.8); }
  .aboutUs__MoreDescription {
    margin: 20px 20px 40px 20px;
    padding: 0; }
  .aboutUs__AchievmentsWrapper {
    padding: 30px 20px; }
  .aboutUs__FooterWrapper {
    padding: 0 20px 118px 20px; } }
