/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: none; }

@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Bold.ttf") format("ttf"), url("../fonts/TTNorms-Bold.woff") format("woff");
  src: url("../fonts/TTNorms-Medium.ttf") format("ttf"), url("../fonts/TTNorms-Medium.woff") format("woff");
  src: url("../fonts/TTNorms-Regular.ttf") format("ttf"), url("../fonts/TTNorms-Regular.woff") format("woff"); }

.publictation {
  max-width: 413px;
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 40px;
  display: inline-block;
  text-align: left; }
  .publictation__img {
    display: block;
    max-width: 100%; }
  .publictation__wrapper {
    padding: 20px; }
  .publictation__title {
    font-family: "TT Norms", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #24A3FF;
    margin-bottom: 10px; }
  .publictation__title:hover {
    color: #F0145A; }
  .publictation__date {
    font-family: "TT Norms", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
    margin-bottom: 40px;
    position: relative; }
  .publictation__date::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #E6E6F0;
    position: absolute;
    bottom: -20px; }
  .publictation__shortdisc {
    font-family: "TT Norms", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000; }

@media (max-width: 375px) {
  .publictation {
    margin-bottom: 20px; }
    .publictation__date {
      margin-bottom: 0; }
    .publictation__date::after {
      content: none; }
    .publictation__shortdisc {
      display: none; }
  .publications__wrapper .publictation:nth-child(n+4) {
    display: none; }
  .blog__Publications .publictation:nth-child(n+7) {
    display: none; } }

.publications {
  position: relative;
  max-height: 970px;
  overflow: hidden; }
  .publications__link {
    font-family: "TT Norms", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    margin-bottom: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .publications__link img {
    display: inline-block;
    margin-left: 5px; }
  .publications__link:hover {
    color: #F0145A; }
  .publications__title {
    font-family: "TT Norms", sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #F0145A;
    margin-bottom: 40px; }
  .publications__wrapper {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    text-align: center; }
  .publications__seeMore {
    width: 100%;
    height: 200px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 245, 250, 0)), color-stop(86.5%, #F5F5FA));
    background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 100px 0 0 0; }
  .publications__seeMore a {
    display: inline-block;
    font-family: "TT Norms", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding: 16px 0;
    background-color: #24A3FF;
    border-radius: 12px;
    width: 250px; }

@media (max-width: 375px) {
  .publications__title {
    font-family: "TT Norms", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px; }
  .publications__wrapper {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; }
  .publications__seeMore {
    height: auto;
    background: transparent;
    position: relative;
    padding: 20px 0; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .header__hamburger {
    display: none; }
  .header__mobMenu {
    display: none; }
  .header__logoTitle {
    font-family: "TT Norms", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 45px;
    color: #323264; }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .header__wrapperLanguage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "TT Norms", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #B3B3BA;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__language span {
    margin-left: 10px;
    cursor: pointer;
    padding: 5px; }
  .header__language span:hover {
    background-color: #F0145A;
    border-radius: 8px; }
  .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__contact .header__tel, .header__soc, .header__address {
    margin-left: 20px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__tel:hover, .header__address:hover {
    color: #F0145A; }
  .header__contact .header__tel::before, .header__soc::before, .header__address::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #E6E6F0;
    position: relative;
    margin-right: 10px; }
  .header__menu {
    font-family: "TT Norms", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #24A3FF;
    cursor: pointer; }
  .header__menuPItem {
    display: inline-block;
    margin-left: 15px; }
  .header__menu li:hover {
    color: #F0145A; }

@media (max-width: 375px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .header__logo {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .header__mobMenu {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      z-index: 999; }
    .header__mobMenuLogo {
      position: relative;
      padding: 16px 0 14px 0;
      text-align: center; }
    .header__mobMenuLogo span {
      position: absolute;
      top: 10px;
      right: 12px;
      font-size: 36px;
      color: #EC6F5D; }
    .header__mobMenuLogo img {
      width: 32px;
      height: 32px; }
    .header__menuPItemMob {
      font-family: "TT Norms", sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: #24A3FF;
      display: block;
      text-align: center;
      margin-bottom: 1px;
      padding: 15px 0;
      background-color: #F5F5FA;
      font-weight: 700; }
    .header__menuPItemMob:hover {
      color: #F0145A; }
    .header__logoImg {
      max-width: 78px;
      margin-top: 20px; }
    .header__hamburger {
      display: inline-block;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      text-align: right;
      margin-top: 10px; }
    .header__logoTitle {
      margin-top: 5px;
      font-family: "TT Norms", sans-serif;
      font-weight: 400;
      font-size: 19px;
      line-height: 22px; }
    .header__logoSmall {
      margin-top: 15px;
      max-width: 21px; }
    .header__wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
    .header__wrapperLanguage {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .header__language span {
      margin-left: 0; }
    .header__contact {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
    .header__soc, .header__address {
      display: none; }
    .header__contact .header__tel::before, .header__soc::before, .header__address::before {
      content: none; }
    .header__menu {
      display: none; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 4px solid #E6E6F0;
  padding: 32px 0 40px 0; }
  .footer__addressWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 22px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__address {
    font-family: "TT Norms", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #323264;
    margin-right: 37px; }
  .footer__map {
    font-family: "TT Norms", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF; }
  .footer__map::before {
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    margin-bottom: 1px;
    margin-right: 10px;
    background-color: #B3B3BA; }
  .footer__contactsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__tell {
    font-family: "TT Norms", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #46466E;
    margin: 0 16px 0 18px; }
  .footer__tell::before {
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    margin-bottom: 1px;
    margin-right: 5px;
    background-color: #B3B3BA; }
  .footer__mail:hover, .footer__tell:hover, .footer__map:hover {
    color: #F0145A; }
  .footer__mail {
    font-family: "TT Norms", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #24A3FF; }
  .footer__mail::before {
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    margin-bottom: 1px;
    margin-right: 10px;
    background-color: #B3B3BA; }
  .footer__cooperate {
    font-family: "TT Norms", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #B3B3BA; }

@media (max-width: 375px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 0 0 0; }
    .footer__contact {
      margin-bottom: 20px; }
    .footer__addressWrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 20px; }
    .footer__address {
      font-weight: bold;
      margin-right: 0;
      margin-bottom: 10px; }
    .footer__map::before {
      content: none; }
    .footer__contactsWrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .footer__tell {
      margin: 20px  0; }
    .footer__tell::before {
      content: none; }
    .footer__mail::before {
      content: none; }
    .footer__cooperate {
      margin: 0 20px;
      text-align: center; } }

.post__HeaderWrapper {
  max-width: 1440px;
  padding: 3.47% 60px 0 60px;
  margin: auto; }

.post__Wrapper {
  max-width: 1440px;
  padding: 60px 267px;
  margin: auto; }

.post__Heading h1 {
  font-family: "TT Norms", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #323264;
  margin: 40px 20px 10px 20px; }

.post__Heading span {
  display: inline-block;
  font-family: "TT Norms", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin: 0 0 40px 20px; }

.post__MainePost p {
  margin: 0 20px;
  font-family: "TT Norms", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000; }

.post__MainePost h2 {
  font-family: "TT Norms", sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F0145A;
  margin-top: 40px; }

.post__MainePost h3 {
  font-family: "TT Norms", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #46466E;
  margin: 40px 20px 25px 20px; }

.post__MainePost img {
  margin: 40px 20px; }

.post__MainePost ul {
  list-style: decimal;
  margin: 0 20px 25px 60px;
  font-family: "TT Norms", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000; }

.post__MainePost li {
  padding-left: 10px; }

.post__MainePost li::marker {
  color: #F0145A;
  font-weight: bold;
  margin-right: 10px; }

.post__MainePost::before {
  content: "";
  display: block;
  margin: 0 20px 40px 20px;
  height: 4px;
  width: 100%;
  background-color: #EDEDF7; }

.post__MainePost::after {
  content: "";
  display: block;
  margin: 40px 20px 0 20px;
  height: 4px;
  width: 100%;
  background-color: #EDEDF7; }

.post__Epilogue {
  margin: 20px 20px 0 20px;
  text-align: left; }

.post__Epilogue a {
  display: inline-block;
  margin-right: 10px; }

.post__Publications {
  background-color: #F5F5FA; }

.post__PublicationsWrapper {
  max-width: 1440px;
  margin: auto;
  padding: 40px 60px 0 60px; }

.post__Footer {
  background-color: #F5F5FA; }

.post__FooterWrapper {
  max-width: 1440px;
  margin: auto;
  padding: 0 60px; }

.header__menuPItem:nth-child(4) {
  color: #F0145A;
  text-decoration: underline; }

@media (max-width: 375px) {
  .post__HeaderWrapper {
    padding: 20px 20px 0 20px; }
  .post__Wrapper {
    padding: 0;
    margin-top: 20px; }
  .post__Heading img {
    width: 100%; }
  .post__Heading h1 {
    font-family: "TT Norms", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    margin: 20px 20px 10px 20px; }
  .post__Heading span {
    margin: 0 0 20px 20px; }
  .post__MainePost h2 {
    font-family: "TT Norms", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    margin: 20px 20px 0 20px; }
  .post__MainePost h3 {
    font-family: "TT Norms", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 40px 20px 20px 20px; }
  .post__MainePost img {
    margin: 20px 0;
    max-width: 100%; }
  .post__MainePost ul {
    margin: 0 20px 20px 40px; }
  .post__MainePost::before {
    margin: 0 20px 20px 20px;
    width: 90%; }
  .post__MainePost::after {
    margin: 40px 20px 20px 20px;
    width: 90%; }
  .post__Epilogue {
    margin: 20px 20px 40px 20px;
    text-align: center; }
  .post__PublicationsWrapper {
    padding: 20px; }
  .post__FooterWrapper {
    padding: 0 20px 118px 20px; } }
