<section class="slidExper">
    <div class="slidExper__wrapper">
        <div class="slidExper__dots">
            <span class="slidExper__dot active"><span class="slidExper__dotdesk">Послідовні</span></span>
            <span class="slidExper__dot"><span class="slidExper__dotdesk">Клієнтоорієнтовані</span></span>
            <span class="slidExper__dot"><span class="slidExper__dotdesk">Інноваційні</span></span>
            <span class="slidExper__dot"><span class="slidExper__dotdesk">Бізнес-орієнтовані юристи</span></span>
        </div>
        <div class="slidExper__container">
            <div class="slidExper__sliders">
                <span class="slidExper__dottitle">Послідовні</span>
                <h2>Перевертаємо уявлення про юридичні послуги</h2>
                <p>Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і
                    досягають
                    прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського
                    права в
                    Україні.</p>
            </div>
            <div class="slidExper__sliders">
                <span class="slidExper__dottitle">Клієнтоорієнтовані</span>
                <h2>Перевертаємо уявлення про юридичні послуги</h2>
                <p>Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і
                    досягають
                    прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського
                    права в
                    Україні.</p>
            </div>
            <div class="slidExper__sliders">
                <span class="slidExper__dottitle">Інноваційні</span>
                <h2>Перевертаємо уявлення про юридичні послуги</h2>
                <p>Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і
                    досягають
                    прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського
                    права в
                    Україні.</p>
            </div>
            <div class="slidExper__sliders">
                <span class="slidExper__dottitle">Бізнес-орієнтовані юристи</span>
                <h2>Перевертаємо уявлення про юридичні послуги</h2>
                <p>Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і
                    досягають
                    прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського
                    права в
                    Україні.</p>
            </div>
        </div>
    </div>
</section>