<section class="slid">
    <div class="slid__wrapper">
        <div class="slid__dots">
            <span class="slid__dot active">Послідовні</span>
            <span class="slid__dot">Клієнтоорієнтовані</span>
            <span class="slid__dot">Інноваційні</span>
            <span class="slid__dot">Бізнес-орієнтовані юристи</span>
        </div>
        <div class="slid__container">
            <div class="slid__sliders">
                <h2>1Перевертаємо уявлення про юридичні послуги</h2>
                <p>Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і
                    досягають
                    прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського
                    права в
                    Україні.</p>
            </div>
            <div class="slid__sliders">
                <h2>2Перевертаємо уявлення про юридичні послуги</h2>
                <p>Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і
                    досягають
                    прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського
                    права в
                    Україні.</p>
            </div>
            <div class="slid__sliders">
                <h2>3Перевертаємо уявлення про юридичні послуги</h2>
                <p>Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і
                    досягають
                    прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського
                    права в
                    Україні.</p>
            </div>
            <div class="slid__sliders">
                <h2>4Перевертаємо уявлення про юридичні послуги</h2>
                <p>Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і
                    досягають
                    прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського
                    права в
                    Україні.</p>
            </div>
        </div>
    </div>
</section>