<section class="slidExper">
    <div class="slidExper__wrapper">
        <div class="slidExper__dots">
            <span class="slidExper__dot active">Послідовні</span>
            <span class="slidExper__dot">Клієнтоорієнтовані</span>
            <span class="slidExper__dot">Інноваційні</span>
            <span class="slidExper__dot">Бізнес-орієнтовані юристи</span>
        </div>
        <div class="slidExper__container">
            <div class="slidExper__sliders">
                <h2>Перевертаємо уявлення про юридичні послуги</h2>
                <p>Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і
                    досягають
                    прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського
                    права в
                    Україні.</p>
            </div>
            <div class="slidExper__sliders">
                <h2>Перевертаємо уявлення про юридичні послуги</h2>
                <p>Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і
                    досягають
                    прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського
                    права в
                    Україні.</p>
            </div>
            <div class="slidExper__sliders">
                <h2>Перевертаємо уявлення про юридичні послуги</h2>
                <p>Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і
                    досягають
                    прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського
                    права в
                    Україні.</p>
            </div>
            <div class="slidExper__sliders">
                <h2>Перевертаємо уявлення про юридичні послуги</h2>
                <p>Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і
                    досягають
                    прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського
                    права в
                    Україні.</p>
            </div>
        </div>
    </div>
</section>