<section class="slidTeam">
    <div class="slidTeam__slidWrapper">
        <div class="slidTeam__blogSlides fade">
            <img class="slidTeam__foto" src="./icons/timeimage1.jpg">
            <div class="slidTeam__wrapperDiscretion">
                <a class="slidTeam__link" href="./teamPage.html">команда <img src="./icons/publictations/Vector2.svg"></a>
                <h4 class="slidTeam__title">1Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.</h4>
                <p class="slidTeam__firstname">Олександр Олександровський</p>
                <p class="slidTeam__work">Керуючий партнер</p>
            </div>
        </div>

        <div class="slidTeam__blogSlides fade">
            <img class="slidTeam__foto" src="./icons/Photo2.jpg">
            <div class="slidTeam__wrapperDiscretion">
                <a class="slidTeam__link" href="./teamPage.html">команда &#8250;</a>
                <h4 class="slidTeam__title">2Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.</h4>
                <p class="slidTeam__firstname">Владислав Мельник</p>
                <p class="slidTeam__work">Associate</p>
            </div>
        </div>

        <div class="slidTeam__blogSlides fade">
            <img class="slidTeam__foto" src="./icons/Photo3.jpg">
            <div class="slidTeam__wrapperDiscretion">
                <a class="slidTeam__link" href="./teamPage.html">команда &#8250;</a>
                <h4 class="slidTeam__title">3Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.</h4>
                <p class="slidTeam__firstname">Оксана Кобзар</p>
                <p class="slidTeam__work">Equity partner, Attorney-at-law</p>
            </div>
        </div>

<!--        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>-->
<!--        <a class="next" onclick="plusSlides(1)">&#10095;</a>-->
    </div>
    <div class="slidTeam__dots" style="text-align:center">
        <span class="slidTeam__dot" onclick="currentSlide(1)"></span>
        <span class="slidTeam__dot" onclick="currentSlide(2)"></span>
        <span class="slidTeam__dot" onclick="currentSlide(3)"></span>
    </div>
</section>
