$GreyText:#B3B3BA;
$ActiveRegular:#24A3FF;
$Accent:#F0145A;
$White:#fff;
$GreyText:#B3B3BA;
$GreySeparator:#E6E6F0;
$GreyBg: #F5F5FA;
$MainSoft:#686887;
$MainRegular:#323264;
$GreySeparator:#E6E6F0;
$MainAlt:#46466E;







