<section class="servicepagesplash">
  <div class="servicepagesplash__intro">
    <img src="./icons/servicesItem/Icon.svg">
    <h1 class="servicepagesplash__title">IT та електронна комеція</h1>
    <p class="servicepagesplash__description">Нескінчений потік договорів, податкові питання, трудові відносини, корпоративні папери — юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста.</p>
    <br>
    <p class="servicepagesplash__description">До того ж, з часом робота стане однотипною і нецікавою для штатного юриста. А ще ми добре знаємо, як важко в Україні знайти хорошого кандидата з досвідом у сфері інформаційних технологій.</p>
    <a href="#" class="servicepagesplash__baton">Безкоштовна консультація</a>
  </div>
  <div class="servicepagesplash__services">
    <h4>Послуги цього напрямку:</h4>
    <ul class="servicepagesplash__textWrapper">
      <li class="servicepagesplash__text">супровід інвестиційних проектів з розвитку портової інфраструктури;</li>
      <li class="servicepagesplash__text">паспортизація ГТС, внесення інформації про них в обов'язкові бази даних і реєстри;</li>
      <li class="servicepagesplash__text">оформлення дозвільної документації для будівництва портових терміналів;</li>
      <li class="servicepagesplash__text">оформлення дозвільної та іншої обов'язкової документації, необхідної для здійснення діяльності в порту (дозвіл на викиди, висновок по ОВНС, РТК і ін.);</li>
      <li class="servicepagesplash__text">супровід процедур, пов'язаних з орендою державного майна в порту;</li>
      <li class="servicepagesplash__text">супровід процедур, пов'язаних з підтвердженням статусу портового оператора, морського агента, лінії закордонного плавання;</li>
      <li class="servicepagesplash__text">супровід процедур, пов'язаних з включенням компанії в межі порту;</li>
      <li class="servicepagesplash__text">оскарження дій, пов'язаних з незаконним нав'язуванням послуг в порту компаніями-монополістами.</li>
    </ul>
  </div>
</section>

