@import "../../../../assets/scss/reset";
@import "../../../../assets/scss/common/mixins.scss";
@import "../../../../assets/scss/common/variables.scss";

.header {
  &__logo {

  }

  &__language {

  }

  &__contact {

  }

  &__menu {
    @include titleBlue;
    color: $ActiveRegular;
    cursor: pointer;
  }

  &__menu li:hover {
    color:$Accent;

  }
}
