<section class="achievments">
    <h4 class="achievments__title">Досягнення</h4>
    <div class="achievments__itemWrapper">
        <div class="achievments__item">
            <a href="#"><img src="./icons/achievments/achievments_image.svg"></a>
        </div>
        <div class="achievments__item">
            <a href="#"><img src="./icons/achievments/achievments_image2.svg"></a>
        </div>
        <div class="achievments__item">
            <a href="#"><img src="./icons/achievments/achievments_image3.svg"></a>
        </div>
        <div class="achievments__item">
            <a href="#"><img src="./icons/achievments/achievments_image4.svg"></a>
        </div>
    </div>
    <div class="achievments__pointWrapper">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</section>