<section class="advantages">
    <div class="advantages__wrapper">
        <div class="advantages__introduction">
            <h2 class="advantages__title">Перевертаємо уявлення про юридичні послуги.</h2>
            <p class="advantages__descriptions">Консолідуючи багаторічний досвід і практику, юристи компанії супроводжують складні проекти і досягають прийняття ряду важливих для галузі рішень. Багато з них формують практику застосування морського права в Україні.</p>
            <br>
            <p class="advantages__descriptions">Prolegals – надійний бізнес-партнер, що підтверджується стабільним співробітництвом з міжнародними юридичними фірмами, довірою великих українських і міжнародних компаній, визнанням професійних рейтингів.</p>
        </div>
        <div class="advantages__advantagwrap">
            <div class="advantages__item">
                <div class="advantages__iconwrap">
                <img src="./icons/advantages/Experience.svg">
                <span>10+</span>
                </div>
                <p>років релевантного досвіду</p>
            </div>
            <div class="advantages__item">
                <div class="advantages__iconwrap">
                <img src="./icons/advantages/Clients.svg">
                <span>30+</span>
                </div>
                <p>активних клієнтів, які довіряють нам свої доручення щомісячно</p>
            </div>
            <div class="advantages__item">
                <div class="advantages__iconwrap">
                <img src="./icons/advantages/Probono.svg">
                <span>500+</span>
                </div>
                <p>годин роботи «pro bono» щорічно</p>
            </div>
        </div>
    </div>
</section>
